.flip-card {
  background-color: transparent;
  width: 30vw;
  height: 250px;
  align-content: center;
  display: inline-grid;
  perspective: 2000px; /*Remove this if you don't want the 3D effect*/
}

img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}


#name, #role {
  text-align: center;
} 

#name .name, #name .one {
  display: inline;
}

#role .role, #role .one{
  display: inline;
}

.home {
  display: flex;
  flex-direction: row;
}

.hero {
  align-content: center;
  display: inline-grid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  height: 80vh;
  width: 90vw;
  top: 0;
  left: 0;
}

.name {
    font-size: 5em; 
    color: white;
    font-weight: 600;
  }

  .one{
      color: white;
  }

  .role {
    color: white;
    font-weight: 400;
  }
  
  .name span span {
      position: relative;
      bottom: 50em;
      opacity: 0;
      animation: move-text 0.75s forwards;
  }

  .role span span {
    position: relative;
    bottom: 50em;
    opacity: 0;
    animation: move-text 0.5s forwards;
}
  
  @keyframes move-text {
      0% {
          bottom: 0em;
          opacity: 1;
      }

      25% {
        opacity: 0.5; 
        color: lightgrey;
      }
      
      50% {
          bottom: 0em;
          opacity: 0.2;
      }
  
      100% {
          bottom: 0;
          opacity: 1;
      }
  }
  
  
  @media screen and (max-width: 700px) {
    body {
      transform: scale(1);
    }
  }
