.bg-img {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  width: 100vw;
  background: linear-gradient(rgba(44, 62, 80, 1),rgba(44, 62, 80, 1)) , url('./bg-img.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: lighten;
}



